body {
  background-color:#FFBB73;
  
}

nav {
  background-color:hwb(31 45% 0%);
}
header img {
  background-position: center;
  top: 0;
  left: 0;
  width: 2000px;
  height: 850px;
  background-image: url('images/cover2.jpg');
  object-fit: cover;
  pointer-events: none;
  background-size: contain;
  background-attachment: fixed;

}

#lokinav {
  background-color:#FFBB73;
}
